<div
  id="map"
  style="width: 100%;
  height: 100vh;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div>

<!-- params should be dyanmic to create a trip without form  -->
 <%#= link_to "Set ya route homes", trips_path(:trip => { lat: 0 }), method: :post %>

<!--   <input type="text" id="coordinates" name="coordinates" > -->
<!-- creating a point of interest -->

