// Define variables for your color scheme

//other colors like used for alerts
$red: #FD1015;
$yellow: #FFC65A;
$orange: #E67E22;
// branding colors:
$blue: #325A77;
$green: #03CDAE;
$gray: #6A6F70;
$light-gray: #D9DFDB;




