// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');

// Define fonts for body and headers
$body-font:'Roboto Slab', serif;
$headers-font:'Roboto Slab', serif;

 h1, h2, h3, h4, h5, h6{
    font-family: 'Roboto Slab', serif;
  }

body{
    font-family: 'Roboto Slab', serif;
  }


// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";
