
.banner {
  position: relative;
  // background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url('https://images.unsplash.com/photo-1506422720-5d7dde64b262?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80');
  background-size: cover;
  height: 40px;
  text-align: center;
  padding-top: 160px;
  position: relative;
  bottom: 65px;
}

#profile-background {
  background-image: url('https://images.unsplash.com/photo-1442606440995-d0be22c5f90f?ixlib=rb-1.2.1&auto=format&fit=crop&w=880&q=60');
  background-size: auto;
  background-repeat: no-repeat;
}

@media (min-width: 767px) {
  #profile-background {
    background-image: url('https://images.unsplash.com/photo-1442606440995-d0be22c5f90f?ixlib=rb-1.2.1&auto=format&fit=crop&w=880&q=60');
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.profile-card {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: white;
  display: flex;
    h3, p {
    margin: 10px;
    color: white;
    text-align: left;
  }
}

.profile-avatar {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.about-section {
  margin-top: 20px;
  text-align: left;
}

.stats-section {
  .row {
    justify-content: space-between;
    margin: 0px;
  }
}

.stats-card {
  // width: 120px;
  border-radius: 5px;
  display: flex;
  padding: 10px;
  justify-content: center;
  font-size: 35px;
  i {
    justify-content: center;;
    color: black;
  }
}

.stats-block {
  width: 33%;
  border-radius: 5px;
   box-shadow: 0 2px 5px rgba(0,0,0,0.10), 0 1px 1px rgba(0,0,0,0.22);
   background-color: #EDEEEF;
  p {
    text-align: center;
    text-decoration: bold;
    margin-bottom: 0px;
    color: black;
  }
}

.rider-bio {
  margin-top: 20px;
  h6 {
    margin-bottom: 18px;
    text-align: center;
  }
}

.drop-menu {
  text-align: center;
  margin: 10px;
}

.journey-section {
  margin-top: 30px;
  text-align: center;
  h6 {
    font-size: 20px;
    margin-bottom: 18px;
  }
}

.user-profile-avatar {
  width: 40px;
  height: 40px;
}

.top-row {
  justify-content: right;
}

.panel-heading {
  cursor: pointer;
  text-align: center;
  background-color: #D6D6D6;
}

.popup-links {
  color: black;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

.popup-window {
  width: 100%;
  p {
    margin-bottom: 5px;
  }
  h4 {
    padding-bottom: 8px;
  }
}

.top-panel {
  justify-content: space-between;
  font-size: 30px;
  h6 {
    font-size: 20px;
  }
}

.edit-icon {
  font-size: 25px;
  }

.globe-link {
  font-size: 30px;
  color: black;
}

// @media only screen and (max-width: 768px) {
//   /* For mobile phones: */
//   .row {
//     width: 100%;
//   }
// }

// .page-body {
//   background-color: #D9DFDB;
// }

// body {
//    background-color: #D9DFDB;
// }
