<h1>Profile Page Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>

<%= link_to "Edit Profile", edit_user_registration_path, class: 'btn btn-large btn-dark' %>
<%= link_to "Explore", points_path, class: 'btn btn-large btn-dark' %>
<%= link_to "Trips", trip_path, class: 'btn btn-large btn-dark' %>
