<div class="footer">
<div id= "team-container" class="container d-flex flex-column align-items-center justify-content-center">
  <div class="the-team">The team.</div>
  <div class="row">
        <div class="col-md-3 col-sm-6">
          <div class="team-avatar">
            <img class="avatar-huge" src="https://avatars0.githubusercontent.com/u/39394891?v=4">
            <p class="text-center">Chris</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="team-avatar">
            <img class="avatar-huge" src="https://res.cloudinary.com/wagon/image/upload/c_fill,g_face,h_200,w_200/t3qy4tzaortmhgax2e39.jpg">
            <p class="text-center">sarah</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="team-avatar">
            <img class="avatar-huge" src="https://avatars1.githubusercontent.com/u/48044627?v=4">
            <p class="text-center">Darren</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="team-avatar">
            <img class="avatar-huge" src="https://avatars1.githubusercontent.com/u/49085345?v=4">
            <p class="text-center">Joe</p>
          </div>
        </div>
        </div>
      </div>
<footer class="container page-footer font-small color-white">
  <div class="text-center text-md-left mt-5">
    <div class="row mt-3">
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
        <h6 class="text-uppercase font-weight-bold">Products</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p style="font-size: 17px">
           <a><%= link_to "Cycle Thru", root_path, class: "footer-selector" %></a>
        </p>
      </div>
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
        <h6 class="text-uppercase font-weight-bold">Check us out!</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p style="font-size: 17px">
          <a><%= link_to "Login", new_user_session_path, class: "footer-selector" %></a>
        </p>
        <p style="font-size: 17px">
          <a><%= link_to "About us", root_path, class: "footer-selector" %></a>
        </p>
      </div>
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
        <h6 class="text-uppercase font-weight-bold">Contact</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p style="font-size: 17px">
          <i class="fas fa-home mr-3"></i> Canggu, Bali</p>
        <p style="font-size: 17px">
          <i class="fas fa-envelope mr-3"></i> info@cyclethru.com</p>
        <p style="font-size: 17px">
          <i class="fas fa-phone mr-3"></i> + 01 234 567 88</p>
      </div>
    </div>
  </div>
    <div class="container">
      <div class="row py-4 d-flex align-items-center">
        <div class="col-md-6 col-lg-7 text-center text-md-right icons">
           <a href="#"><i class="fab fa-facebook-f white-text mr-4 footer-icon"></i></a>
           <a href="#"><i class="fab fa-twitter white-text mr-4 footer-icon"></i></a>
           <a href="#"><i class="fab fa-google-plus-g white-text mr-4 footer-icon"></i></a>
           <a href="#"><i class="fab fa-linkedin-in white-text mr-4 footer-icon"></i></a>
          <a href="#"><i class="fab fa-instagram white-text footer-icon"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>
