<header class="bg-img header">
  <div class="container">
    <div class="row">
      <div class="intro-box">
        <div class="intro">
          <h1 class="mt-2">Cycle Thru</h1>
          <div class="search-form">
              <div class="p-3 rounded">
                <%= link_to "Let's ride...", points_path, class: "btn btn-large btn-outline-secondary"  %>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

