.signin-card {
    background: #ffffff !important;
    border-radius: 4px !important;
    padding: 32px !important;
    padding-bottom: 24px !important;
    width: 441px !important;
    box-shadow: 0 16px 40px rgba(0,0,0,0.12) !important;
    opacity: 1;
    margin-top: 80px;
    opacity: 0.9;
    z-index: 2
}

.signup-form-page{
    .form-group{
      margin-bottom: 2px
    }
    label {
      margin-bottom: 5px;
    }
}

.login-card {
    background: #ffffff !important;
    border-radius: 4px !important;
    padding: 32px !important;
    padding-bottom: 24px !important;
    width: 441px !important;
    box-shadow: 0 16px 40px rgba(0,0,0,0.12) !important;
    opacity: 1;
    justify-content: right;
    margin-top: 90px;
    margin-right: 40px;
    opacity: 0.9;
    z-index: 2;
}

.dropdown-card {
  border: 1px solid;
  border-radius: 10px;
  max-height: 100px;
  display: flex;
  overflow: hidden;
  p {
    margin-left: 10px;
    margin-bottom: 0px;

  }
}

.card-image {
  border-radius: 8px;
}

.card-show {
  text-align: center;
  background-color: #FFFFFF;
  border-radius: 5px;
  padding: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(0, 0, 0, 0.22);
}

.point-info {
  margin-top: 10px;
  h6 {
    margin-bottom: 15px;
  }
}
