.signup-form-main {
  background-image: url('https://images.unsplash.com/photo-1523797838405-59e9f3030063?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=333&q=80');
  height: 100vh;
  position: relative;
  min-height: 659px;
  object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  margin-top: -50px;
}

.login-form-main {
  background-image: url('https://images.unsplash.com/photo-1497514789819-4190972b5575?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
  height: 100vh;
  position: relative;
  min-height: 659px;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  margin-top: -50px;
}



@media (max-width: 767px){
   .login-form-main {
    justify-content: center;
  }
}

.form-group {
  text-align: left;
  label {
    margin-bottom: 0px;
  }
}
