.coordinates {
  background: rgba(0,0,0,0.5);
  color: #fff;
  position: absolute;
  bottom: 40px;
  left: 10px;
  padding:5px 10px;
  margin: 0;
  font-size: 11px;
  line-height: 18px;
  border-radius: 3px;
  display: none;
}

#map {
 a {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 2;
    margin-top: 10px;
    margin-right: 10px;
 }
}

.mapboxgl-popup {
  width: 200px;
  border-radius: 90px;
}

.mapboxgl-popup-content {
  text-align: left;
  background: #fff;
  border-radius: 23px !important;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  padding: 10px 10px 15px;
  pointer-events: auto;
  h4 {
    margin-bottom: 0px !important;
  }
}

.popup-links {
  position: relative !important;
  right: 0px !important;
}

.mapboxgl-popup-close-button {
    position: absolute;
    right: 7px !important;
    top: 7px !important;
    border: 0;
    border-radius: 0 3px 0 0;
    cursor: pointer;
    background-color: transparent;
    }

.popup-banner {
  background-color: white;
  border-radius: 10px;
}
