.navbar {
  text-align: left;
  justify-content: left;
  background-color: transparent;
  color: #D9DFDB;
  position: sticky;
  top: 0;
  padding: 0px;
  z-index: 2;
    .navbar-brand {
      color: #D9DFDB;
      padding-left: 10px;
    }
}

#point-navbar {
  background-color: #D9DFDB
}

.navbar-toggler {
  background-color: transparent;
}

.navbar-lewagon {
  justify-content: space-between;
  background-color: transparent;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

// .navbar-toggler.collapse {
//   display: block!important;
// }

li {
    list-style-type: none;
}

#navbarDropdown {
  width: 40px;
  height: 40px;
  margin-top: 8px;
}

@media (min-width: 10px) and (max-width: 1000px) {
   .collapse {
       display: none !important;
   }
}

.home-nav {
    position: fixed;
    top: 0px;
    z-index: 10;
    width: 100%;
}

.signedout-buttons {
    margin-right: 0px;
    margin-top: 10px;
}
